<h1>Rules of Rock/Paper/Scissors</h1>
  <ol>
    <li>Both players put one hand behind their back and say "Rock, Paper, Scissors, GO"</li><br>
    <li>On "GO" each player makes a sign with their hidden hand of either a rock (clenched fist) or paper (flat hand) or scissors (2 fingers) and simultaneously  both players show their hidden hand to their opponent</li><br>
    <li>The winner is :</li><br>
      <ul><strong>
        <li>rock if opponent has scissors</strong> (rock blunts scissors)</li>
        <li><strong>paper if opponent has rock</strong> (paper covers rock)</li>
        <li><strong>scissors if opponent has paper</strong> (scissors cuts paper)</li>
        <li><strong>the game is a draw </strong>if both players have the same </li>
      </ul><br>
  </ol>
